html, body {
  margin: 0;
  padding: 0;
}

.fixed-nav {
  position: fixed;
  width: 100%;
  background-image: url(/images/the-flatiron-building.png);
  z-index: 5;
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  color: #fff;
  font-weight: bold;
  align-items: center;
}

nav {
  display: grid;
  margin: 0;
  padding: 20px 0;
  align: center;
}

nav li {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5)
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5)
}
