html, body {
  margin: 0;
  padding: 0;
}

header .fixed-nav {
  position: fixed;
  width: 100%;
  height: auto;
  background-image: url(resources/images/the-flatiron-building.png);
  border: 3px solid black;
  z-index: 5;
}

.w3-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-image: url(resources/images/the-flatiron-building.png);
}

img {
    display: block;
    margin-left:auto;
    margin-right: auto;
}

header img {
  display: block;
  margin-left:auto;
  margin-right: auto;
  width: 100%;
}

header h1 {
  font-family: Helvetica;
  font-size: 70px;
  color: #000;
  font-weight: bold;
  text-align: center;
  padding: 70px 0;
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  color: #000;
  font-weight: bold;
  text-align: center;
}

nav {
  display: grid;
  margin: 0;
  padding: 20px 0;
  align: center;
}

nav li {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
}

h2 {
  font-family: Helvetica;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: rgb(0, 0, 0)
}

h3 {
  font-family: Helvetica;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  color: rgb(0, 0, 0)
}

p {
  text-align: center;
  color: rgb(0, 0, 0)
}
